<nb-layout center>
  <nb-layout-header>
    <div class="h3">
      Spotify Finder SPA
    </div>
  </nb-layout-header>

  <nb-layout-column>

    <nb-card>
      <nb-card-body>

        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <input nbInput type="text" formControlName="keyword" required>
          <button nbButton [disabled]="!this.searchForm.valid" class="mx-2">Search</button>
        </form>

        <app-track [track]="track" *ngFor="let track of tracks"></app-track>

      </nb-card-body>
    </nb-card>

  </nb-layout-column>

</nb-layout>
